extends layout

block content
    .page-content
        .container.text-center
            .display-1.text-muted.mb-5
                    i.si.si-exclamation
                    |  404
            h1.h2.mb-3 #{msg}
            p.h4.text-muted.font-weight-normal.mb-7 Come back another time.
            a.btn.btn-primary(href='javascript:history.back()')
                    i.fe.fe-arrow-left.mr-2
                    | Go back


