<div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h3 class="card-title">Available Classes</h3>
              <p class="card-category">on 02/06/2019</p>
            </div>
            <div class="col-md-8 offset-md-2 mt-4">
              <div class="card my-5">
                  <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                      <h4 class="card-title">
                        <i class="fa fa-clock-o"></i>
                        7:00 GMT
                      </h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="float-left">
                      <h3 class="font-weight-bold text-uppercase">CSIT 406</h3>
                      <h5 class="font-weight-normal text-uppercase">Fundamentals of Satellite Communications</h5>
                    </div>
                    <div class="float-right text-right info">
                      <i class="fa fa-map-marker"></i>
                      <h5 class="font-weight-normal">Software Lab</h5>
                      <i class="fa fa-clock-o"></i>
                        <h5 class="font-weight-normal">2 Hour(s)</h5>
                      </div>
                  </div>
              </div>
              <div class="card my-5">
                  <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                      <h4 class="card-title">
                        <i class="fa fa-clock-o"></i>
                        7:00 GMT
                      </h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="float-left">
                      <h3 class="font-weight-bold text-uppercase">CSIT 406</h3>
                      <h5 class="font-weight-normal text-uppercase">Fundamentals of Satellite Communications</h5>
                    </div>
                    <div class="float-right text-right info">
                      <i class="fa fa-map-marker"></i>
                      <h5 class="font-weight-normal">Software Lab</h5>
                      <i class="fa fa-clock-o"></i>
                        <h5 class="font-weight-normal">2 Hour(s)</h5>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>