doctype html
html
    title #{title} | itendax 
    link(rel="stylesheet" href="/style.css")
    link(rel="stylesheet" href="/vendor/css/dashboard.css")
    link(rel="stylesheet" href="/vendor/css/dashboard.css")
    link(rel="stylesheet" href="/vendor/timepicker/jquery-clockpicker.min.css")
    link(rel="stylesheet" href="/vendor/timepicker/bootstrap-clockpicker.min.css")
    link(rel="icon" href="/vendor/images/favicon.ico" type="image/x-icon")


body
    .page
        .page-main
            .header.py-4
                .container
                    .d-flex
                        a.header-brand(href='/users/dashboard')
                            img.header-brand-img(src='/vendor/images/itendax@2x.png' alt='itendax')
                        .d-flex.order-lg-2.ml-auto
                            .dropdown
                                a.nav-link.pr-0.leading-none(href='#' data-toggle='dropdown')
                                    span.avatar(style='background-image: url(/vendor/images/user1.png)')
                                    span.ml-2.d-none.d-lg-block
                                        span.text-capitalize.text-default= user_name
                                .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
                                    a.dropdown-item(href='/users/profile')
                                        i.dropdown-icon.fe.fe-user
                                        |   Profile
                                    .dropdown-divider
                                    a.dropdown-item(href='/users/logout')
                                        i.dropdown-icon.fe.fe-log-out
                                        |  Sign out
                        a.header-toggler.d-lg-none.ml-3.ml-lg-0(href='#' data-toggle='collapse' data-target='#headerMenuCollapse')
                            span.header-toggler-icon
            -if(isAdmin === false)
                #headerMenuCollapse.header.collapse.d-lg-flex.p-0
                    .container
                        .row.align-items-center
                            .col-lg-3.text-lg-right
                                - let date = new Date();
                                - date = date.toDateString();
                                    i.fe.fe-calendar.mr-2
                                    = date
                            //-     -if(title === 'Attendance Session')
                            //-         form(action="/courses/attendance_session/"+course._id, method="post", id="authorizeForm")
                            //-             //- label.custom-switch
                            //-             //-     input.custom-switch-input.authorize(type='checkbox' name='isAuthorized' value='isTrue')
                            //-             //-     span.custom-switch-indicator
                            //-             //-     span.custom-switch-description Authorize Attendance
                            //-             input.btn.btn-teal.btn-sm(type='submit' value="Authorize Attendance")

                            .col-lg.order-lg-first
                                ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
                                    li.nav-item
                                        a.nav-link(class=(title !== null ? "active" : undefined) href='/users/dashboard')
                                            i.fe.fe-home
                                            |  Home
                                    //- li.nav-item
                                    //-     a.nav-link(class=(title == "Add Courses" ? "active" : undefined) href='/users/add_courses')
                                    //-         i.fe.fe-check-square
                                    //-         | Add Courses
                               
            block content
        include includes/footer.pug
    
script(src="/vendor/js/vendors/jquery-3.2.1.min.js")
script(src="/vendor/js/vendors/bootstrap.bundle.min.js")
script(src="/vendor/js/core.js")
script(src="/vendor/js/dashboard.js")
script(src="/vendor/js/require.min.js")  
script(src="/vendor/timepicker/jquery-clockpicker.min.js")    
script(src="/vendor/timepicker/bootstrap-clockpicker.minn.js")  
script(src="/main.js") 

script(type='text/javascript').
    $('.clockpicker').clockpicker({
        'default': 'now'
    });
    

