html    
    head
        title Final Year Project
        link(rel = 'stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel = 'stylesheet' href='/css/dashboard.css')
        link(rel = 'stylesheet' href='/css/tabler.css')

    body
        .page
          .page-main
            .header.py-4
              .container
                .d-flex
                  a.header-brand(href='index.html')
                    img.header-brand-img(src='assets/images/itendax.svg' alt='itendax')
                  .d-flex.order-lg-2.ml-auto
                    .dropdown
                      a.nav-link.pr-0.leading-none(href='#' data-toggle='dropdown')
                        span.avatar(style='background-image: url(assets/images/1.jpg)')
                        span.ml-2.d-none.d-lg-block
                          span.text-default Assan Arthur
                          small.text-muted.d-block.mt-1 Administrator
                      .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
                        a.dropdown-item(href='#')
                          i.dropdown-icon.fe.fe-user
                          |  Profile
                        .dropdown-divider
                        a.dropdown-item(href='#')
                          i.dropdown-icon.fe.fe-help-circle
                          |  Need help?
                        a.dropdown-item(href='#')
                          i.dropdown-icon.fe.fe-log-out
                          |  Sign out
                  a.header-toggler.d-lg-none.ml-3.ml-lg-0(href='#' data-toggle='collapse' data-target='#headerMenuCollapse')
                    span.header-toggler-icon
            #headerMenuCollapse.header.collapse.d-lg-flex.p-0
              .container
                .row.align-items-center
                  .col-lg-2.text-lg-right
                    label.custom-switch
                      input.custom-switch-input(type='checkbox' name='custom-switch-checkbox')
                      span.custom-switch-indicator
                      span.custom-switch-description Enable Wi-Fi
                  .col-lg.order-lg-first
                    ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
                      li.nav-item
                        a.nav-link.active(href='index.html')
                          i.fe.fe-home
                          |  Home
                      li.nav-item
                        a.nav-link(href='registeration.html')
                          i.fe.fe-check-square
                          | Registeration
                      li.nav-item.dropdown
                        a.nav-link(href='404.html')
                          i.fe.fe-calendar
                          | Statistics
                      li.nav-item.dropdown
                        a.nav-link(href='session.html')
                          i.fe.fe-file
                          | Attendance
                          |                               Sessions
                      li.nav-item.dropdown
                        a.nav-link(href='enrollment.html')
                          i.fe.fe-user-plus
                          | Enrollments



                    
        .container
            br
            block content
            br
        footer.footer
            .container
                .row.align-items-center
                    .col-12.mt-3.mt-lg-0.text-center
                        p Itendax, &copy; 2019

        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/require.min.js')
        script(src='/js/dashboard.js')

