extends layout

block content
    .my-3.my-md-5
        .container
            .row
                .col-lg-4
                    .card.card-profile
                        .card-header(style='background-image: url(/vendor/images/bg1.jpg);')
                        .card-body.text-center
                            img.card-profile-img(src='/vendor/images/1.jpg')
                            h3.mb-3 Assan
                            p.mb-4
                            | Shit Always happens
                .col-lg-8
                    form.card
                        .card-body
                            h3.card-title Edit Profile
                            .row
                                .col-md-12
                                        .form-group
                                            label.form-label Name
                                            input.form-control(type='text', placeholder='Enter your name', value='David Arthur')
                                .col-md-12
                                        .form-group
                                            label.form-label Email Address
                                            input.form-control(type='email', placeholder='Email', value='arthur.assan@gmail.com')
                                .col-md-12
                                        .form-group
                                            label.form-label Current Password
                                            input.form-control(type='password', placeholder='Enter current password', value='assan')
                                .col-md-12
                                        .form-group
                                            label.form-label New Password 
                                            input.form-control(type='password', placeholder='Enter new password', value='assan')
                                .col-md-12
                                        .form-group
                                            label.form-label New Password confirmation
                                            input.form-control(type='password', placeholder='Enter new password', value='assan')
                        .card-footer.text-right
                            button.btn.btn-primary(type='submit') Update Profile


