extends layout

block content
    .my-3.my-md-5 
        .container
            h1 Register
            != messages('message',locals)
            .row
                .col-md-6
                    form.card(method="POST", action="/users/register")
                        .card-body
                            h3.card-title Add User
                            .row
                                .col-md-12
                                        .form-group
                                            label.form-label Name
                                            input.form-control(name='name', type='text', placeholder='Enter your name')
                                .col-md-12
                                        .form-group
                                            label.form-label Email Address
                                            input.form-control(name='email', type='email', placeholder='Email')
                                .col-md-12
                                        .form-group
                                            label.form-label Password
                                            input.form-control(name='password', type='password', placeholder='Enter current password')
                                .col-md-12
                                        .form-group
                                            label.form-label Confirm Password
                                            input.form-control(name='password2', type='password', placeholder='Confirm password', )
                                .col-md-12
                                        .form-group
                                            label.form-label Select Your Courses
                                            .selectgroup.selectgroup-pills
                                                label.selectgroup-item
                                                    input.selectgroup-input(type='checkbox', name='value', value='CSIT 402')
                                                    span.selectgroup-button CSIT 402
                                                label.selectgroup-item
                                                    input.selectgroup-input(type='checkbox', name='value', value='CSIT 404')
                                                    span.selectgroup-button CSIT 404
                                                label.selectgroup-item
                                                    input.selectgroup-input(type='checkbox', name='value', value='CSIT 406')
                                                    span.selectgroup-button CSIT 406
                                                label.selectgroup-item
                                                    input.selectgroup-input(type='checkbox', name='value', value='CSIT 408')
                                                    span.selectgroup-button CSIT 408
                                                label.selectgroup-item
                                                    input.selectgroup-input(type='checkbox', name='value', value='CSIT 410')
                                                    span.selectgroup-button CSIT 410
                        .card-footer.text-center
                            button.btn.btn-success(type='submit') Add User

                .col-md-6
                    form.card(method="POST", action="/courses/register")
                        .card-body
                            h3.card-title Add Course
                            .row
                                .col-md-12
                                        .form-group
                                            label.form-label  Code 
                                            input.form-control(name='code', type='text')
                                .col-md-12
                                        .form-group
                                            label.form-label  Title
                                            input.form-control(name='title', type='text')
                                .col-md-12
                                        .form-group
                                            label.form-label Duration
                                            input.form-control(name='duration', type='text')
                                .col-md-12
                                        .form-group
                                            label.form-label Time 
                                            input.form-control(name='time', type='text')
                                .col-md-12
                                        .form-group
                                            label.form-label Venue 
                                            input.form-control(name='venue', type='text')
                                .col-md-12
                                        .form-group
                                            label.form-label Day
                                            input.form-control(name='day', type='text')
                        .card-footer.text-center
                            button.btn.btn-success(type='submit') Add Course
        